:root {
  --branding-color: #b0cab0;
  --secondary-color: #e4e6e4;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", system-ui;
  --body-font-family: "Quicksand", sans-serif;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.4;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--body-font-family);
  font-weight: bold;
}
.content-container h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content-container p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.content {
  margin: 30px;
}
.content-container {
  padding: 70px 20px;
}
.link {
  color: var(--branding-color);
  text-decoration: none;
}
.contBackground {
  padding: 30px 20px;
  border-radius: 5px 5px 0 0;
}
.borderContainer {
  /*  background-color: var(--secondary-color); */
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  height: 55px;
}
.borderContainer h3 {
  margin-bottom: 0;
  line-height: 32px;
}
.borderContainer a {
  color: var(--branding-color);
}
.mePic {
  width: 300px;
}
.meContainer {
  margin: auto;
  text-align: center;
}
.hero p {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
body {
  /*   margin-top: 60px; */
  font-family: var(--body-font-family);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
.btn-branding-outline {
  background-color: #fff;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  border: 1px solid #fff;
  background-color: var(--branding-color);
  color: #fff;
}
.logo {
  max-height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
}

nav {
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
footer {
  margin: 60px;
}
footer .email-link {
  color: #272142;
  text-decoration: none;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 60%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--branding-color);
  background-color: #fff;
  border: 1px solid var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 5px;
}
footer h4{
  font-size: 40px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
footer .contact-box p{
  margin: 0;
}

@media (max-width: 990px) {
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 1;
  }
  .hero h2 {
    font-size: 24px;
  }

  .hero p {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    padding: 40px 20px;
    text-align: center;
  }
  .content-container h1 {
    font-size: 44px;
    line-height: 1;
  }
  .content-container p {
    font-size: 14px;
  }
  .content-container h2 {
    font-size: 18px;
  }
  nav a {
    font-size: 14px;
  }

}
